# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Env / secrets
.env
*.env
.env.*

# Virtual env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Local data / vector db (usually don't commit)
data/
vector_db/
